* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body .st3-fullview {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000000;
  overflow-x: scroll;
}
body .st3-fullview .st3-fullview-bgimg {
  width: 75%;
  height: fit-content;
  position: relative;
}
body .st3-fullview .st3-fullview-bgimg .toolbar, body .st3-fullview .st3-fullview-bgimg .close, body .st3-fullview .st3-fullview-bgimg .previous, body .st3-fullview .st3-fullview-bgimg .next {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #32383a;
  opacity: 0.5;
  color: red;
}
body .st3-fullview .st3-fullview-bgimg .next {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
}
body .st3-fullview .st3-fullview-bgimg .previous {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  left: 0;
}
body .st3-fullview .st3-fullview-bgimg .close {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0;
}
body .st3-fullview .st3-fullview-bgimg a:hover {
  opacity: 1;
}
body .st3-fullview .st3-fullview-bgimg .slide {
  animation-name: slide;
  animation-duration: 1.5s;
}
body .st3-fullview .st3-fullview-bgimg .container-img1 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen1.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img2 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen2.webp);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img3 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen3.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img4 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen4.webp);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img5 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen5.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img6 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen6.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img7 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen7.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img8 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen8.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img9 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen9.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img10 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen10.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-bgimg .container-img11 {
  width: 100%;
  height: 47vw;
  background-image: url(img/fullscreen11.jpg);
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  display: none;
}
body .st3-fullview .st3-fullview-content {
  width: 15%;
}
body .st3-fullview .st3-fullview-content .content {
  color: #cecece;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  display: none;
  animation-name: slide;
  animation-duration: 1.5s;
}
@keyframes slide {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body .section1 {
  width: 100%;
  height: 100px;
  z-index: 1;
  position: fixed;
  top: 0px;
}
body .section1 .header-logo-honda {
  display: block;
  width: 100px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 10%;
  z-index: 1;
}
body .section1 .header {
  width: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: right;
}
body .section1 .header .header-list {
  list-style: none;
  display: flex;
}
body .section1 .header .header-list .link-header {
  display: block;
  color: black;
  font-size: 14px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 25px;
  position: relative;
}
body .section1 .header .header-list .link-header .hover-link-header {
  display: block;
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: #7e7c7c;
  z-index: 3;
  display: none;
}
body .section1 .header .header-list .link-header .hover-link-header a {
  display: block;
  width: 175px;
  height: 48px;
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  border-top: ridge 1px;
  line-height: 48px;
}
body .section1 .header .header-list .link-header .hover-link-header a:hover {
  background-color: #820202;
}
body .section1 .header .header-list .link-header > a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
body .section1 .header .header-list .link-header-fb-insta-yt > img {
  display: block;
  width: 100px;
  height: 49px;
  margin-top: -15px;
  margin-right: 20px;
}
body .section1 .navigation {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 50px;
  background-color: #f32525;
  z-index: -1;
}
body .section1 .navigation .nav-list {
  list-style: none;
  display: flex;
  justify-content: right;
  padding-right: 40px;
}
body .section1 .navigation .nav-list .nav-list-link {
  display: block;
  height: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #282424;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -15px;
  line-height: 50px;
}
body .section1 .navigation .nav-list .nav-list-link:hover {
  background-color: #5d0909;
  color: white;
  font-size: 19px;
}
body .section1 .menu {
  height: 80px;
  width: 100px;
  line-height: 80px;
  position: absolute;
  right: 0px;
  background-color: #000000;
  color: #0ddad9;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  display: none;
}
@keyframes dropdownMenu {}
body .section2 {
  width: 100%;
  height: 30vw;
  margin-top: 100px;
  background-image: url(img/background-header.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
body .section3 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #7f95c563;
}
body .section3 .st3-left-columns {
  width: 30%;
  height: max-content;
  margin-right: 10px;
  padding-top: 30px;
}
body .section3 .st3-left-columns .container-img-st3 {
  width: 100%;
  height: 23vw;
  background-image: url(img/imgst3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
body .section3 .st3-left-columns .st3-left-columns-view {
  display: block;
  text-decoration: none;
  width: 60%;
  height: 50px;
  line-height: 50px;
  color: #000000;
  margin: 0 auto;
  text-align: center;
  background-color: #fbe04b;
  font-weight: 700;
  font-size: 17px;
}
body .section3 .st3-left-columns .st3-left-columns-view:hover {
  background-color: #76f6f5;
  font-size: 20px;
}
body .section3 .st3-center-columns {
  width: 40%;
  height: max-content;
  overflow: hidden;
}
body .section3 .st3-center-columns h1 {
  color: #c40004;
  font-size: 30px;
  text-align: center;
}
body .section3 .st3-center-columns h2 {
  text-align: center;
}
body .section3 .st3-center-columns .st3-center-information {
  width: 100%;
  height: 600px;
  background-color: #e5e5e5;
  border-bottom: red solid 3px;
  border-radius: 2%;
}
body .section3 .st3-center-columns .st3-center-information p {
  height: 30px;
  width: 100%;
  line-height: 30px;
  background-color: #010836;
  padding-left: 10px;
  color: #0ddad9;
  font-weight: 700;
}
body .section3 .st3-center-columns .st3-center-information i {
  display: block;
  margin-right: 10px;
  float: right;
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 {
  display: none;
  flex-wrap: wrap;
  overflow: hidden;
  animation: appear 700ms ease-in-out forwards;
  transform-origin: top center;
}
@keyframes appear {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview {
  width: 33.3333333333%;
  padding: 0px 5px;
  display: block;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .design-img1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .design-img1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .design-img1 {
  background-image: url(img/img-design1.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .design-img2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .design-img2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .design-img2 {
  background-image: url(img/img-design2.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .design-img3, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .design-img3, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .design-img3 {
  background-image: url(img/img-design3.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .design-img4, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .design-img4, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .design-img4 {
  background-image: url(img/img-design4.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .design-img5, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .design-img5, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .design-img5 {
  background-image: url(img/img-design5.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .design-img6, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .design-img6, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .design-img6 {
  background-image: url(img/img-design6.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .tech-img1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .tech-img1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .tech-img1 {
  background-image: url(img/img-tech1.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .tech-img2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .tech-img2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .tech-img2 {
  background-image: url(img/img-tech2.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .tech-img3, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .tech-img3, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .tech-img3 {
  background-image: url(img/img-tech3.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .safety-img1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .safety-img1, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .safety-img1 {
  background-image: url(img/img-safety1.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .safety-img2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .safety-img2, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .safety-img2 {
  background-image: url(img/img-safety2.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .safety-img3, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .safety-img3, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .safety-img3 {
  background-image: url(img/img-safety3.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .safety-img4, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .safety-img4, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .safety-img4 {
  background-image: url(img/img-safety4.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview .safety-img5, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview .safety-img5, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview .safety-img5 {
  background-image: url(img/img-safety5.jpg);
  margin: 0 auto;
  max-width: 230px;
  height: 150px;
  background-size: cover;
  background-position: center center;
}
body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .tech-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .design-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .safety-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .tech-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .design-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .safety-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .tech-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .design-text, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .safety-text {
  color: #0707d5;
  text-align: center;
  margin-bottom: 5px;
}
body .section3 .st3-right-columns {
  width: 30%;
  height: max-content;
  padding-left: 10px;
}
body .section3 .st3-right-columns h1 {
  color: #c40004;
  font-size: 30px;
  text-align: center;
}
body .section3 .st3-right-columns .st3-right-columns-text {
  display: none;
  justify-content: center;
  max-height: 650px;
}
body .section3 .st3-right-columns .st3-right-columns-text h2 {
  text-align: center;
}
body .section3 .st3-right-columns .st3-right-columns-text p {
  background-color: #efdc7bd4;
  line-height: 25px;
  padding: 15px;
  font-weight: 600;
  color: #490455;
  animation: blur 700ms;
}
@keyframes blur {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
body .video video {
  width: 80%;
  height: 300px;
  display: block;
  margin: 0 auto;
}
body .section3-re {
  display: none;
}
body .section3-re .st3-re-text h2 {
  text-align: center;
  color: #0000bb;
}
body .section3-re .st3-re-text img {
  display: block;
  width: 95%;
  margin: 0 auto;
}
body .section3-re .st3-re-text p {
  line-height: 28px;
  text-align: center;
  padding: 5px;
  color: #07c325;
  background-color: #363a38;
  font-size: 18px;
  font-weight: 500;
}
body .section4 {
  width: 80%;
  margin: 0 auto;
}
body .section4 .container-img-colorBoard {
  display: flex;
  justify-content: space-between;
  border-top: solid 3px red;
}
body .section4 .container-img-colorBoard .container-img {
  width: 50%;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
body .section4 .container-img-colorBoard .container-img #black {
  height: 500px;
  background-image: url(img/den-db.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: block;
}
body .section4 .container-img-colorBoard .container-img #red-black {
  height: 500px;
  background-image: url(img/do-125-tc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: none;
}
body .section4 .container-img-colorBoard .container-img #blue-black {
  height: 500px;
  background-image: url(img/xanh-125-tc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: none;
}
body .section4 .container-img-colorBoard .container-img #green-special {
  height: 500px;
  background-image: url(img/xanh-db.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: none;
}
body .section4 .container-img-colorBoard .container-img #red-grey {
  height: 500px;
  background-image: url(img/do-160-tc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: none;
}
body .section4 .container-img-colorBoard .container-img #black-grey {
  height: 500px;
  background-image: url(img/den-160-tc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: none;
}
body .section4 .container-img-colorBoard .container-img #blue-grey {
  height: 500px;
  background-image: url(img/xanh-160-tc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
  animation: fade 1s ease-in;
  display: none;
}
body .section4 .container-img-colorBoard .container-colorBoard {
  width: 40%;
  padding-right: 0;
}
body .section4 .container-img-colorBoard .container-colorBoard .edition {
  font-weight: 700;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value {
  width: 230px;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-black-edition1 {
  background-color: #000000;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-black-edition2 {
  background-color: #c7a710;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-red-black-standard1 {
  background-color: #e60005;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-red-black-standard2 {
  background-color: #000000;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-darkblue-black-standard1 {
  background-color: #0000bb;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-darkblue-black-standard2 {
  background-color: #000000;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-special-edition1 {
  background-color: #495458;
  width: 24.3px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-special-edition2 {
  background-color: #bebebe;
  width: 24.3px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-special-edition3 {
  background-color: #000000;
  width: 24.3px;
  height: 25px;
  transform: skewX(-30deg);
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-red-standard {
  background-color: #bc0e12;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-grey-standard {
  background-color: #adadad;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-black-standard {
  background-color: #000000;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .color-cell-blue-standard {
  background-color: #3821be;
  width: 37px;
  height: 25px;
  transform: skewX(-30deg);
  margin-right: 1px;
}
body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .name-edition {
  margin-left: 20px;
  height: 25px;
  line-height: 25px;
}
body .section4 .st4-container-price {
  width: 80%;
  margin: 0 auto;
  background-color: #7aa1b0;
  border: 2px solid #0404a7;
}
body .section4 .st4-container-price .st4-content-price {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  color: #ab0509;
}
body .section4 .st4-container-price .st4-content-price .price-edition {
  color: #ab0509;
  font-size: 25px;
  font-weight: 700;
}
@media only screen and (max-width: 1160px) {
  body .section1 .header-logo-honda {
    left: 0%;
  }
  body .section3 .st3-center-columns .st3-center-information {
    height: max-content;
  }
  body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information1 .article-overview, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information2 .article-overview, body .section3 .st3-center-columns .st3-center-information .img-text-st3-center-information3 .article-overview {
    width: 50%;
  }
  body .video video {
    width: 100%;
  }
  body .section4 {
    width: 100%;
  }
}
@media only screen and (max-width: 1070px) {
  body .section3 {
    flex-wrap: wrap;
  }
  body .section3 .st3-left-columns {
    width: 60%;
  }
  body .section3 .st3-left-columns .container-img-st3 {
    height: 45vw;
  }
  body .section3 .st3-center-columns {
    width: 50%;
  }
  body .section3 .st3-right-columns {
    width: 50%;
  }
}
@media only screen and (max-width: 990px) {
  body .section1 {
    height: 80px;
    background-color: aliceblue;
  }
  body .section1 .header-logo-honda {
    top: 0px;
  }
  body .section1 .header {
    height: 40px;
    display: block;
  }
  body .section1 .header .header-list {
    display: none;
    background-color: aliceblue;
    position: absolute;
    top: 64px;
    padding: 0;
    min-height: 400px;
  }
  body .section1 .header .header-list .link-header img {
    margin-top: 0px;
  }
  body .section1 .header .responsive {
    display: block;
    opacity: 0;
  }
  body .section1 .navigation {
    height: 40px;
    top: 40px;
    padding-left: 140px;
    padding-top: 39px;
  }
  body .section1 .navigation .nav-list {
    display: none;
    padding-right: 40px;
    background-color: antiquewhite;
    max-width: 250px;
    position: absolute;
    top: 24px;
    left: 180px;
  }
  body .section1 .navigation .nav-list .nav-list-link {
    padding: 0;
    margin-top: 0;
  }
  body .section1 .navigation .responsive {
    display: none;
    opacity: 1;
  }
  body .section1 .menu {
    display: block;
  }
  body .section2 {
    margin-top: 80px;
  }
}
@media only screen and (max-width: 930px) {
  body .section4 .container-img-colorBoard .container-img {
    width: 350px;
  }
  body .section4 .container-img-colorBoard .container-img #black, body .section4 .container-img-colorBoard .container-img #red-black, body .section4 .container-img-colorBoard .container-img #blue-black, body .section4 .container-img-colorBoard .container-img #green-special, body .section4 .container-img-colorBoard .container-img #red-grey, body .section4 .container-img-colorBoard .container-img #black-grey, body .section4 .container-img-colorBoard .container-img #blue-grey {
    height: 32vw;
  }
  body .section4 .container-img-colorBoard .container-colorBoard {
    width: 350px;
  }
  body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value {
    flex-wrap: nowrap;
  }
  body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value {
    width: 200px;
    flex-wrap: wrap;
  }
  body .section4 .container-img-colorBoard .container-colorBoard .flex-color-value .color-value .name-edition {
    margin-left: 10px;
  }
  body .section4 .st4-container-price {
    border: none;
  }
  body .section4 .st4-container-price .st4-content-price {
    height: auto;
  }
}
@media only screen and (max-width: 770px) {
  body .st3-fullview {
    flex-wrap: wrap;
  }
  body .st3-fullview .st3-fullview-bgimg {
    width: 100%;
  }
  body .st3-fullview .st3-fullview-bgimg .slide {
    height: 65vw;
  }
  body .st3-fullview .st3-fullview-content {
    width: 90%;
  }
  body .section3 {
    flex-direction: column-reverse;
  }
  body .section3 .st3-left-columns {
    width: 100%;
  }
  body .section3 .st3-left-columns .container-img-st3 {
    height: 70vw;
  }
  body .section3 .st3-center-columns {
    width: 100%;
  }
  body .section3 .st3-right-columns {
    display: none;
  }
  body .section3-re {
    display: block;
  }
  body .section4 .container-img-colorBoard {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  body .section4 .container-img-colorBoard .container-img {
    width: 100%;
  }
  body .section4 .container-img-colorBoard .container-img #black, body .section4 .container-img-colorBoard .container-img #red-black, body .section4 .container-img-colorBoard .container-img #blue-black, body .section4 .container-img-colorBoard .container-img #green-special, body .section4 .container-img-colorBoard .container-img #red-grey, body .section4 .container-img-colorBoard .container-img #black-grey, body .section4 .container-img-colorBoard .container-img #blue-grey {
    height: 67vw;
    background-position: center;
  }
  body .section4 .container-img-colorBoard .container-colorBoard {
    width: 99%;
    height: 120px;
    overflow-y: scroll;
    padding-left: 10px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 990px) {
  .section1 .header .responsive {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .section1 .navigation .responsive {
    opacity: 0;
  }
}

.title-row {
  margin: 0 10%;
}

.spec-container {
  width: 80%;
  margin: auto;
  background-color: #f3f3f3;
  padding-top: 20px;
  border-top: 2px solid #d01919;
}

.spec-body {
  width: 80%;
  height: 1371px;
  background-color: #f3f3f3;
  margin: 10px auto;
}

.white-bg {
  background-color: white;
}

.spec-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 25px 20px;
}

.spec-row *{
  flex: 1;
}

.spec-item-value {
  font-weight: 650;
}

.lib-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  border-top: 2px solid #d01919;
  padding-top: 40px;
}
.small-img {
  width: 300px;
  height: 150px;
  display: inline-block;
}

.history-container {
  display: flex;
  width: 80%;
  height: 200px;
  background-color: #f3f3f3;
  margin: 10px auto 100px;
}

.history-item {
  margin: 10px 30px;
  text-align: center;
}

.history-img {
  height: 135px;
  width: 180px;
}

.footer *{
  margin:0;
	padding:0;
	box-sizing: border-box;
}

.footer {
  background-color: #f3f3f3;
  padding: 70px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
}

.footer-container ul{
  list-style: none;
}



.footer-col h4 {
  margin-bottom: 20px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col a{
  text-decoration: none;
  color: #000000;
}

.footer-col a:hover {
  color: red;
  transition: 0.2s ease;
}

.footer-col span{
  color: #d01919;
}

.footer-second-col {
  
  padding: 0 15px;
  margin-top: 15px;
}

.footer-second-col h4 {
  margin-bottom: 20px;
}

.footer-second-col a {
  color: #d01919;
  text-decoration: none;
}

.footer-email{
  margin-right: 20px;
}

#footer-form-name {
  width: 330px;
  height: 40px;
  padding-left: 10px;
  margin: 5px 0;
}

#footer-form-email {
  width: 330px;
  height: 40px;
  padding-left: 10px;
  margin: 5px 0;
}

#footer-form-btn {
  width: 100px;
  height: 40px;
  background-color: #d01919;
  color: white;
  border: none;
  font-size: 15px;
  margin: 5px 0;
}

#footer-form-btn:hover{
  cursor: pointer;
}

.footer-small-bar{
  width: 80%;
  height: 45px;
  display:inline-block;
  background-color: white;
  text-align: left;
  margin: 15px;
  padding: 10px;
}

.footer-small-bar a{
  text-decoration: none;
  color: #d01919;;
}
/*# sourceMappingURL=style.css.map */
